* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(65deg, rgba(0, 140, 255, 0.90), rgba(37, 170, 19, 0.90), rgba(240, 255, 30, 0.90), rgba(255, 20, 20, 0.90), rgba(0, 225, 255, 0.90));
    background-size: 180%, 180%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.glavno{
    width: 684px;
    height: 484px;
    align-self: center;
    justify-content: center;
    margin: auto;
    background-color: #027324;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 20px 20px 15px #027324a5;
}

.labirint {
    z-index: 1;
    position: fixed;
    width: 484px;
    height: 484px;
}

#canvas {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.mazeholder img {
    width: 100%;
    height: 100%;
    position: relative;
}

.gumbi{
    top: 0px;
    bottom: 0px;
    margin: auto;
    position: relative;
    width: 200px;
    height: 484px;
    display: flex;
    align-self: center;
    flex-direction: column;
    float: right;
}
.gumb{
    height: 40px;
    width: 60px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
    border: 2px solid lightgray;
    font-family:Tahoma, sans-serif;
}
.slidecontainer{
    margin: auto;
    width: 90%;
    height: 12%;
}
.slider{
    margin: auto;
    width: 100%;
    height: 20%;
    align-items: center;

}

.sredina{
    font-size: 16px;
    margin: auto;
    display: inline;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    display: block;
}

.levo{
    float: left;
    margin-bottom: 0px;
}

.desno{
    float: right;
    margin-bottom: 0px;
}

.credit{
    text-align: center;
}
